.App {
  background-color: #9df2eb;
  min-height: 100vh;
}

.navbar {
  background-color: #791313;
  box-shadow: 0 2px 4px rgba(53, 198, 13, 0.1);
}

.navbar-brand {
  font-weight: bold;
}

.navbar-nav .nav-link {
  color: #0c3a6b; 
  font-weight: bold;
}

.content-container {
  padding: 100px;
  background-color: #eccdcd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  
}



