.card {
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(82, 128, 89, 0.1);
    background-color: rgb(237, 242, 247);
    height: 50vh;
  }
  
  .btn-primary {
    background-color: #de2929 !important; 
    border-color: #000000 !important;
  }
  
  .btn-primary:hover {
    background-color: #9c0d0d !important; 
    border-color: #000000 !important;
  }
  
  .invalid-feedback {
    display: block;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
  }
  